<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UploadRFQFileServlet</servlet-name>
        <servlet-class>com.aniktantra.ist.UploadRFQFileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadRFQFileServlet</servlet-name>
        <url-pattern>/servlet/UploadRFQFileServlet</url-pattern>
    </servlet-mapping>
    <!--Added by Suraj J. on 28-Jan-2021 START-->
    <servlet>
        <servlet-name>UploadCashFlowFileServlet</servlet-name>
        <servlet-class>com.aniktantra.ist.UploadCashFlowFileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadCashFlowFileServlet</servlet-name>
        <url-pattern>/servlet/UploadCashFlowFileServlet</url-pattern>
    </servlet-mapping>
    <!--Added by Suraj J. on 28-Jan-2021 END -->
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
